--root{
    --heightpadrao: 70px;
}
.header {
    position: fixed;
    z-index: 1;
    width: 100%; 
    background:transparent; 
    padding: 0;
    color: white;
    height: var(--heightpadrao);
    border-bottom: 1px solid rgba(255, 255, 255,0.3);
}

.appBarMenu {
    display: none;
    line-height: var(--heightpadrao);
    float: right;
    padding-right: 30px;
    border-bottom: unset;
    background:transparent; 
    color: white;
}

.drawerMenu {
    border-right: unset;
}

.drawerMenu li {
    padding: unset;
}

.logo {
    line-height: var(--heightpadrao);
    float: left;
    text-align: center;
    vertical-align: middle;
    padding-left: 50px;
    font-size: 2rem;
}

.menuIcon { 
    float: right; 
    line-height: var(--heightpadrao); 
    padding-right: 50px;
}

.menuIcon svg { 
    font-size: 1.5rem;
}

.menuIcon:hover {
    color: #1890ff;
}

@media (min-width: 650px) {
    .menuIcon {
        display: none;
    }
    .appBarMenu {
        display: block;
    }
}